
.body {
    background-color: #ffffff;
    /* height: 100vh; */
  /* overflow-y: auto; */
  }
  .data-background-image {
    background-image: url("../photos/connectdata.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 400px;
    width: 500px;
    border-radius: 6%;
   
  }

