.signup-background-image {
    background-image: url("../photos/signup.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    
  }
  .custom-link {
    text-decoration: none;
  }